label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input {
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.form {
  margin-bottom: 40px;
}
.btnSend {
  border-radius: 50%;
  border: none;
  width: 70px;
  height: 70px;

  background: rgb(195, 163, 34);
  background: radial-gradient(
    circle,
    rgba(195, 163, 34, 1) 0%,
    rgba(253, 45, 45, 1) 60%
  );

  transition: transform 300ms cubic-bezier(0.55, 0.085, 0.68, 0.53);
  &:hover {
    transform: scale(1.1);
  }
}
