.header {
  padding: 10px 0;
  background-color: #000000;
  color: #ffffff;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;

  @media screen and (min-width: 1280px) {
    max-width: 1080px;
  }
}

.headerList__item {
  margin-bottom: 5px;
}
