.phonebook {
  padding: 50px 0;
  max-width: 100%;
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.section-welcome {
  padding: 60px 0;
  text-align: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
  color: rgb(138, 43, 226);
}

.containerOverflow {
  height: 300px;
  overflow-y: scroll;
}
.containerOverflow::-webkit-scrollbar {
  display: none;
}

.activeNavLink {
  color: rgb(138, 43, 226);
}

.deactiveNavLink {
  color: rgb(255, 255, 255);
}

.phonebookContainer {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }
}
